@page
@model PRN231_FinalProject_Client.Pages.Debts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DebtsLoan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtsLoan.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtsLoan.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtsLoan.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtsLoan.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtsLoan.InterestRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtsLoan.InterestRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtsLoan.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtsLoan.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtsLoan.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtsLoan.User.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DebtsLoan.DebtLoanId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
