@page
@model PRN231_FinalProject_Client.Pages.Incomes.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Incomes</h1>
<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Entry</h3>
        <div class="card-tools">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="searchString" class="form-control" placeholder="Search by description" value="@Model.SearchString">
                    <input type="date" name="fromDate" class="form-control" value="@Model.FromDate?.ToString("yyyy-MM-dd")">
                    <input type="date" name="toDate" class="form-control" value="@Model.ToDate?.ToString("yyyy-MM-dd")">
                    <select name="source" class="form-control">
                        <option value="">All Sources</option>
                        @foreach (var source in Model.Sources)
                        {
                            <option value="@source" selected="@(source == Model.SelectedSource)">@source</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Income[0].IncomeDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Income[0].Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Income[0].Source)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Income[0].Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Income)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncomeDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.IncomeId">Edit</a> |
                            <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.IncomeId">Details</a> |
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IncomeId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>